@media (max-width: 90em) {
  .header-sub-content {
    max-width: 65%;
  }
  .primary-heading {
    font-size: 12rem;
  }
  .primary-heading span {
    font-size: 10rem;
  }
  .header-text,
  .article-text,
  .features-text,
  .features-sub-text {
    font-size: 1.6rem;
  }
  .header-btn:link,
  .header-btn:visited {
    font-size: 1.4rem;
    padding: 1.4rem;
  }
  .header-sub-content-text,
  .features-sub-header {
    font-size: 1.4rem;
  }
  .features-head {
    font-size: 7.6rem;
  }

  .features-sub-head {
    font-size: 4.2rem;
  }
  .secondary-header {
    font-size: 6.4rem;
  }
  .features-head-container {
    margin-bottom: 6.4rem;
  }
  .testimonial-text {
    font-size: 1.2rem;
  }
  .carousel {
    width: 55%;
  }
  .t--image {
    transform: scale(1.5);
  }
  .section__title {
    width: 62%;
    margin: 0 auto;
  }
}

/*******************************/

@media (max-width: 64em) {
  html {
    /* 9px/16px(default HTML font size) */
    font-size: 56.25%;
  }

  .links:link,
  .links:visited {
    font-size: 1.4rem;
  }

  .primary-heading {
    font-size: 9.8rem;
  }
  .secondary-header {
    font-size: 4.4rem;
  }
  .article-content,
  .article-second-content {
    gap: 5.4rem;
  }
  .article-content {
    padding-bottom: 3.6rem;
  }
  .article-img {
    border-radius: 30px;
  }
  .features-section {
    background-color: #a5e3d6;
    padding: 8.6rem 0;
    border-radius: 50px;
  }
  .features-head {
    font-size: 6.2rem;
  }
  .features-sub-head {
    font-size: 3.6rem;
  }
  .f-sub-content {
    padding: 1.8rem 0;
    gap: 2rem;
  }
  .carousel {
    width: 65%;
    gap: 3rem;
  }
  .slider__btn--right {
    right: 17%;
    transform: translate(50%, -50%);
  }
  .slider__btn--left {
    left: 12%;
    transform: translate(50%, -50%);
  }
  .dots__dot {
    margin-right: 0;
  }
  .faq-questions {
    font-size: 2rem;
  }
  .questions-container {
    padding: 3rem;
    max-width: 70rem;
  }
  .footer-header {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
  }
  .footer-link:link,
  .footer-link:visited {
    font-size: 1.6rem;
  }
  .footer-logo {
    gap: 0.2rem;
  }
  #cta-input::placeholder {
    font-size: 1.4rem;
  }
  .footer {
    padding: 9.6rem 3.2rem;
  }
}

/*******************************/

@media (max-width: 51em) {
  .primary-heading,
  .primary-heading span {
    font-size: 6.2rem;
  }
  .header-text,
  .article-text,
  .features-text,
  .features-sub-text {
    font-size: 1.4rem;
  }
  .header-sub-content {
    padding: 2.4rem;
    min-width: 65%;
  }
  .btn {
    margin-top: 3rem;
  }
  .header-btn:link,
  .header-btn:visited {
    font-size: 1.2rem;
    padding: 1.2rem;
  }
  .secondary-header {
    font-size: 3.6rem;
  }
  .icons {
    width: 2.4rem;
    height: 2.4rem;
  }
  .header-sub-content-text,
  .features-sub-header {
    font-size: 1.2rem;
  }
  .article-sub-content,
  .f-sub-head {
    gap: 1rem;
  }
  .features-sub-head {
    font-size: 3rem;
  }
  .article-content {
    width: 100%;
  }
  .article-img {
    border-radius: 30px;
  }
  .features-head {
    font-size: 5.2rem;
  }
  .features-section {
    border-radius: 50px;
  }
  .carousel {
    width: 80%;
    gap: 4.4rem;
    padding: 3.2rem 3.2rem 3.2rem 0rem;
  }
  .testimonial {
    max-width: 100%;
  }
  .t--image {
    transform: scale(1.5);
  }
  .section__header {
    font-size: 3rem;
    line-height: 1.2;
  }
  .slider__btn--right {
    right: 10%;
  }
  .slider__btn--left {
    left: -2%;
  }
  .dots {
    bottom: 9%;
  }
  .faq-questions {
    font-size: 1.6rem;
  }
  .faq-icon,
  .questions-icon {
    width: 2rem;
    height: 2rem;
  }
  .questions-container {
    padding: 2.4rem;
    max-width: 50rem;
  }
  .footer-logo-w {
    width: 20%;
  }
  .footer-header {
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
  }
  .copyright,
  .logo-text,
  .address,
  .footer-link:link,
  .footer-link:visited {
    font-size: 1.2rem;
  }
}

/* BELOW 700px (Smaller Tablets)  */
@media (max-width: 34em) {
  .primary-heading {
    font-size: 8rem;
    gap: 0;
  }

  .primary-heading span {
    font-size: 7rem;
  }
  .header-text,
  .article-text,
  .features-text,
  .features-sub-text {
    font-size: 1.2rem;
  }
  .header-sub-content-text,
  .features-sub-header {
    font-size: 1.2rem;
  }
  .header-sub-content {
    padding: 2rem;
  }
  .icons {
    width: 2.4rem;
    height: 2.4rem;
  }
  .header-sub-content span {
    gap: 1rem;
  }
  .header-btn:link,
  .header-btn:visited {
    font-size: 1rem;
    padding: 1.2rem;
  }
  .btn {
    margin-top: 3.2rem;
  }
  .article-content,
  .article-second-content {
    display: block;
  }
  .article-img {
    max-width: 90%;
    padding-bottom: 3.2rem;
    margin: 0 auto;
  }

  .article-second-grid {
    padding: 3.2rem 0;
  }
  .secondary-header {
    padding: 1rem 0;
    font-size: 4.4rem;
  }
  .f-container {
    display: block;
  }
  .features-sub-head {
    text-align: center;
  }
  .article-sub-content,
  .f-sub-head {
    justify-content: center;
  }
  .features-head {
    font-size: 5.2rem;
  }
  .wrapper {
    text-align: center;
  }
  .features-img {
    width: 62%;
  }
  .testimonial-text {
    font-size: 1rem;
  }
  .features-head-container {
    margin-bottom: 9.4rem;
  }
  .testimonial-section {
    padding: 8rem 0;
  }
  .carousel {
    width: 75%;
    padding: 3.2rem 4.8rem 3.2rem 0rem;
    gap: 3.6rem;
  }
  .t--image {
    transform: scale(1.2);
  }
  .slider__btn--right {
    right: 12%;
    transform: translate(50%, -50%);
  }
  .slider__btn--left {
    left: 2%;
    transform: translate(50%, -50%);
  }
  .section__title {
    margin: 0 auto 0 auto;
  }
}

/* BELOW 700px (Smaller Tablets)  */
@media (max-width: 29em) {
  header {
    position: relative;
  }
  .header {
    padding: 0rem 3.2rem;
    height: 7rem;
  }
  .nav-links {
    opacity: 0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 120%;
    left: 55%;
    transform: translateY(-40%);
    color: #000;
    background-color: #fff;
    width: 40%;
    height: 20vh;
    pointer-events: none;
    visibility: none;
    transition: all 1s ease;
    border-radius: 10px;
  }

  .nav-open {
    transform: translate(0%);
    opacity: 1;
  }
  .links:link,
  .links:visited {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .logo-container {
    z-index: 500;
  }

  .header-img {
    width: inherit;
    height: 100vh;
    border-radius: 20px;
  }

  .btn-mobile-nav,
  .open-btn {
    display: block;
  }
  .primary-heading {
    font-size: 3rem;
  }
  .primary-heading span {
    font-size: 3rem;
  }
  .article-section article {
    padding: 4.4rem;
  }
  .article-first-grid {
    padding-bottom: 3.2rem;
  }
  .article-second-grid {
    justify-self: center;
  }
  .article-img {
    max-width: 70%;
    align-items: center;
    justify-self: center;
    padding-bottom: 0;
  }
  .secondary-header {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .article-btn {
    text-align: center;
  }

  .header-text,
  .article-text,
  .features-text,
  .features-sub-text {
    font-size: 1.2rem;
    text-align: center;
  }
  .features-head {
    font-size: 3.6rem;
  }
  .features-section {
    border-radius: 35px;
    padding: 6.4rem 0;
  }
  .features-head-container {
    margin-bottom: 4.8rem;
  }
  .features-sub-head {
    font-size: 2.4rem;
  }
  .features-img {
    border-radius: 25px;
  }
  .section__header {
    font-size: 2rem;
    text-align: center;
  }
  .section__description {
    text-align: center;
    font-size: 1.4rem;
  }
  .carousel {
    display: block;
    width: 80%;
    position: relative;
    padding: 4.8rem 3.2rem;
    border-radius: 20px;
  }
  .t--image {
    width: 25%;
    height: initial;
    position: absolute;
    border-radius: 100px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slider__btn {
    width: 4rem;
    height: 4rem;
  }
  .slider__btn--left {
    left: 0%;
  }
  .slider__btn--right {
    right: 9%;
  }
  .testimonial-text,
  .testimonial-author,
  .testimonial-job {
    text-align: center;
  }
  .testimonial-author {
    font-size: 1rem;
  }
  .faq-first-content {
    margin-bottom: 4.4rem;
  }
  .features-sub-text {
    padding: 0 4rem;
  }
  .faq-questions {
    font-size: 1.2rem;
  }
  .faq-answer {
    font-size: 1rem;
    padding-top: 1.4rem;
  }
  .questions-container {
    padding: 1.8rem;
    max-width: 38rem;
    border-radius: 25px;
  }
  .secondary-header {
    padding: 1rem 0;
    font-size: 3.2rem;
    text-align: center;
  }
  .cta-section {
    height: 50vh;
  }

  .cta-icon img {
    width: 2rem;
    margin-bottom: 4px;
  }
  .cta-form input[type='email'] {
    font-size: 1rem;
  }
  .cta-text {
    font-size: 1rem;
  }
  #cta-input::placeholder {
    font-size: 1rem;
  }
  .cta-form {
    padding: 1.2rem 1.4rem;
  }
  .cta-form button {
    padding: 1rem 2rem;
  }
  .grid--footer {
    grid-template-columns: 1.5fr 1.5fr;
    row-gap: 4.4rem;
    column-gap: 4.8rem;
  }
  .footer-nav {
    gap: 1.6rem;
  }
}
